body{
    background-color: rgb( 220, 220, 220);
    }
    h1{
        font-size: 40px;
        color: royalblue;
        margin-left: 20px;
    }
    h3{
       font-size: 25px;
       margin-bottom: 10px;             /*邊距-下*/
       color: lightslategray;
    }
    p{
        font-size: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 15px;
    }
    
    